ENVIRONMENT=
KHAOS_API_KEY=
KHAOS_API_HOST=https://127.0.0.1
KHAOS_API_PORT=8000
KHAOS_API_URL=https://127.0.0.1:8000

SUPABASE_URL=
SUPABASE_KEY=

ANTHROPIC_API_KEY=
DEEPSEEK_API_KEY=
GEMINI_API_KEY=

ALLOWED_ORIGINS=https://localhost:5137,https://127.0.0.1:5137
